.selectbars{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
}
.sel{
    width: 100px;
}
.det1{
    position: absolute;

    margin-left: 16%;
    margin-top: 2%;
}
.det2{
    position: absolute;
    margin-left: 53%;
    margin-top: 2%;
}

