<div class="selectbars">
  <nz-select [(ngModel)]="select" class="sel" nzPlaceHolder= "Choose">
    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    <nz-option nzValue="parsa" nzLabel="Parsa" ></nz-option>
  </nz-select>

  <nz-select
      [(ngModel)]="selectedValue"
      [compareWith]="compareFn"
      nzAllowClear
      nzPlaceHolder="Choose"
      class="sel">
    @for (option of optionList; track option) {
    <nz-option [nzValue]="option" [nzLabel]="option.label"></nz-option>
    }
  </nz-select>
</div>

@if (select ? show : !show) {
<h3 class="det1">You selected : {{select}}</h3>
}
  <h3 class="det2">You selected : {{selectedValue.label}}</h3>
