<!-- NG-ZORRO -->
<nz-layout style="height: 100vh">
  <nz-header>
    
    <div class="logo"><span nz-icon nzType="windows" nzTheme="fill" style="color: white;font-size: 50px;" ></span></div>
    <nz-switch nzSize="small" [(ngModel)]="theme"></nz-switch>
    <app-headermenu></app-headermenu>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <nav>
        <ul nz-menu nzMode="inline" class="sider-menu" [nzTheme]="theme ? 'dark' : 'light'">
          <li nz-submenu nzOpen nzIcon="user" nzTitle="Button Type">
            <ul>
              <li nz-menu-item> <a routerLink="checkbox">Checkbox</a></li>
              <li nz-menu-item ><a routerLink="button">Button</a></li>
              <li nz-menu-item><a routerLink="select">Select</a></li>
              <li nz-menu-item><a routerLink="radio">Radio</a></li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Form Type" nzIcon="database">
            <ul>
              <li nz-menu-item><a routerLink="form">Form</a></li>
              <li nz-menu-item><a routerLink="card">Card</a></li>
              <li nz-menu-item><a routerLink="collapse">Collapse</a></li>
              <li nz-menu-item><a routerLink="modal">Modal</a></li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Feedback" nzIcon="notification">
            <ul>
              <li nz-menu-item><a routerLink="skeleton">Skeleton</a></li>
              <li nz-menu-item><a routerLink="tabs">Tabs</a></li>
              <li nz-submenu nzTitle="About us">
                <ul>
                  <li nz-menu-item>Phone & Email</li>
                  <li nz-menu-item>Address</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb [nzAutoGenerate]="true">
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon [nzTitle]= "titleService.getTitle()" titleService nzSubtitle="Component"></nz-page-header>
      <div class="a">

        <nz-content>
          
          <router-outlet></router-outlet>
          
        </nz-content>
        
      </div>
    </nz-layout>
  </nz-layout>
</nz-layout>