<div style="margin-bottom: 8px;"><button nz-button (click)="change()">Switch Data</button></div>
<nz-list nzItemLayout="horizontal" [nzLoading]="loading">
  <nz-list-item *ngFor="let item of data">
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        <p>{{ item.name }}</p>
        <p>{{item.description}}</p>
      </nz-list-item-meta-title>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
</nz-list>
    
<form (ngSubmit)="insertData()">
  <div class="form-group">
      <label for="name">Enter Name</label>
      <input type="text" name="name" class="form-control" [(ngModel)]="employee.name">
  </div>

  <div class="form-group">
      <label for="name">Enter Description</label>
      <input type="text" name="description" class="form-control" [(ngModel)]="employee.description">
  </div>

  <div class="form-group">
      <label for="name">Enter coach</label>
      <input type="text" name="coach" class="form-control" [(ngModel)]="employee.coach">
  </div>

  <button class="btn btn-primary btn-sm mt-4">Submit</button>

</form>
