<nz-list nzItemLayout="horizontal" [nzLoading]="loading">
  @for (item of data; track item) {
  <nz-list-item>
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        <p>{{ item.id }}</p>
        <h2 style="font-weight: bold;">{{item.body}}</h2>
        <p>{{item.title}}</p>
        <button nz-button nzType="primary" type="button">Delete</button>
      </nz-list-item-meta-title>
    </nz-list-item-meta>
  </nz-list-item>
  }
  <!--  @if (data.length === 0) {-->
  <!--<nz-list-empty></nz-list-empty>-->
  <!--}-->
</nz-list>

<!--<form (ngSubmit)="insertData()">-->
<!--  <div class="form-group">-->
<!--    <label for="name">Enter Name</label>-->
<!--    <input type="text" name="name" class="form-control" value="a" [(ngModel)]="employee.body">-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label for="name">Enter Description</label>-->
<!--    <input type="text" name="email" class="form-control" [(ngModel)]="employee.title">-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label for="name">Enter job</label>-->
<!--    <input type="number" name="id" class="form-control" [(ngModel)]="employee.id">-->
<!--  </div>-->

<!--  <button class="btn btn-primary btn-sm mt-4" (click)="alert()">Submit</button>-->

<!--</form>-->
