<div class="headermenu">
  <ul nz-menu nzMode="horizontal" class="upmenu">
  <li nz-menu-item>
    <span nz-icon nzType="mail" nzTheme="fill" style="margin-right: 9px;"></span>
    About us
  </li>
  <li nz-submenu nzTitle="Quick Links" nzIcon="compass">
    <ul>
      <li nz-menu-group nzTitle="Products">
        <ul>
          <li nz-menu-item>Shoes</li>
          <li nz-menu-item>Bags</li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Components">
        <ul>
          <li nz-menu-item><a routerLink="button">Button</a></li>
          <li nz-menu-item><a routerLink="checkbox">Checkbox</a></li>
          <li nz-submenu nzTitle="About us">
            <ul>
              <li nz-menu-item>Map</li>
              <li nz-menu-item>Mail</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-menu-item>
    <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer"><span nz-icon nzType="html5" nzTheme="fill" style="margin-right: 9px;"></span>NG-zorro</a>
  </li>
</ul>
</div>