// ul{
//     list-style: none;
//     background-color: black;
//     color: white;
// }
// li{
//     color: white;
// }
.headermenu{
    float: right;
}
.upmenu{
    background-color: #001529;
    color: white;
}
.upmenu a{
    text-decoration: none;
    color: white;
}
.upmenu a:hover{
    color: #1890ff;
}
